.product {
  cursor: pointer;
  &__img {
    height: 300px;
    object-fit: cover;
  }

  & h3 {
    font-size: 1.4rem;
    margin: 0.7em 0 1em;
    margin-top: 1.3em;
    font-weight: 400;
  }

  & span {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1em;
    letter-spacing: 0.1rem;
  }
}
