.checkout__steps {
  display: flex;
  & .left {
    width: 60%;

    & .steps {
      display: flex;
      margin-top: 4em;

      & div {
        // margin-left: 2em;
        cursor: pointer;
        display: inline-block;
      }

      & div h3 {
        font-weight: 400;
      }

      & div:not(:last-child) h3 {
        &::after {
          content: ">";
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

  & .right {
    width: 40%;
  }
}

.bold {
  font-weight: 700 !important;
}
