.header {
  border-bottom: 0.1rem solid rgba(196, 196, 196, 0.267);
  padding: 2.5em 0;

  &__nav {
    display: flex;
    align-items: center;

    &-logo {
      font-size: 3rem;
      letter-spacing: 0.6rem;
      color: #181818;
    }

    &-list,
    &-icons {
      display: flex;
      align-items: center;
    }

    &-list {
      margin-left: 2.5em;

      & li {
        margin-left: 2.5em;

        & a {
          font-size: 1.5rem;
          color: #121212;
        }
      }
    }

    &-icons {
      margin-left: auto;
      & svg {
        font-size: 2.2rem;
        cursor: pointer;
      }

      & > :not(:last-child) {
        margin-right: 0.7em;
      }

      & a:last-child {
        position: relative;

        & span {
          position: absolute;
          right: 50%;
          bottom: 0;
          background: #121212;
          color: #fff;
          padding: 0.3em 0.6em;
          border-radius: 50%;
          transform: translate(50%, 30%);
        }
      }
    }
  }
}
