.cart {
  margin: 5em auto !important;
  &__head {
    display: flex;
    justify-content: space-between;
  }

  & .cartItems {
    width: 100%;
    margin-top: 3em;
    border-collapse: collapse; // 1
    border-spacing: 0;
    // border-spacing: 0 4em;

    & thead::after {
      content: "";
      display: table-row;
      height: 20px;
    }

    & thead tr th:first-child {
      width: 60%;
      text-align: start;
    }
    & thead tr th:nth-child(2) {
      text-align: start;
    }
    & thead tr th:last-child {
      //   width: 20%;
      text-align: right;
    }

    & tbody {
      border-top: 0.1rem solid rgba(18, 18, 18, 0.075);
      border-bottom: 0.1rem solid rgba(18, 18, 18, 0.075);
      border-collapse: separate;
      border-spacing: 15px 15px;
      &::before,
      &::after {
        content: "";
        display: table-row;
        height: 40px;
      }
    }
  }
}
